<%- include ('partials/_header') %>
<title>TinyApp - Error 401</title>
</head>

<body>
    <div class='container msg-box mt-5 '>
        <p class='d-flex justify-content-center msg-text p-3'>Wrong Credential. Please try again. </p>
    </div>
    <%- include ('partials/_footer') %>