<%- include ("partials/_header") %>
<title>TinyApp - Error 400</title>
</head>

<body>
    <div class="container msg-box mt-5 ">
        <p class="d-flex justify-content-center msg-text p-3">User already existed. Log in with this account?&nbsp;&nbsp;<a
                href='/login'>Log in</a></p>
    </div>
<%- include ("partials/_footer") %>