<%- include ('partials/_header') %>
<title>TinyApp - Error 404</title>
</head>

<body>
    <div class='container msg-box mt-5 '>
        <p class='d-flex justify-content-center msg-text p-3'>Page not found 😭</p>
    </div>
<%- include ('partials/_footer') %>