<%- include ('partials/_header') %>
<title>TinyApp</title>
</head>

<body>
    <div class='container msg-box mt-5 '>
        <p class='d-flex justify-content-center msg-text p-2'>Uh Oh! Access denied. You need to register or login to
            view this.</p>
    </div>
    <%- include ('partials/_footer') %>