* {
  font-family: 'Karla', sans-serif;
}

nav {
  background-color: #48778f;
}
.form-link {
  color: white;
}

.activeLink {
  color: white;
  font-size: 1.15em;
  font-weight: 900;
}

.form-link:hover {
  color: #ccffff;
  border-bottom: solid 1px yellow;
}

.msg-box {
  border: solid 1px transparent;
  border-radius: 10px;
  height: 20vh;
  background-color: rgb(224, 198, 148);
}

.msg-text {
  font-size: 2em;
}
